* {
  margin: 0;
  padding: 0;
}
#logo {
  width: 100px;
  height: 50px;
  margin-left: 5px;
  margin-top: 0px;
  display: inline-block;
  border-radius: 100%;
}
#h1 {
  background-color: rgb(64, 234, 240);
  margin-top: 0;
}
nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  padding: 10px;
}

#players {
  width: 290px;
  height: 380px;
  box-shadow: 0 0 4px 6px lightblue;
  margin-bottom: 20px;
  margin-top: 10px;
}
#playerimg {
  width: 250px;
  height: 250px;
  padding: 5px;
  text-align: center;
}
img {
  width: 250px;
  height: 250px;
  padding: 5px;
  text-align: center;
}
.team-mem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100vh;
}
.playername,
.role,
.battingStyle,
.bowlingStyle,
.country {
  text-align: center;
  font-weight: bold;
}
#display-match {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.match {
  margin-bottom: 20px;
  margin-top: 10px;
}
.name {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 5px;
  display: block;
}
.status,
.venue,
.date,
.dateTime,
.teams {
  font-weight: bold;
  display: block;
}
.head {
  align-items: center;
}
#England {
  text-align: center;
  float: right;
  margin-right: 33%;
  width: 450px;
  height: 300px;
}
#England1 {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 50px;
  display: block;
}

#display-points {
  border: 1;
  box-shadow: 2px black;
  padding: 5px;
  box-sizing: border-box;
  font-size: bold;
}

#point-table {
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}
/*
tr,
th,
td {
  padding: 5px;
}
*/
.container{
  height: 100vh;
}

.dis-point{
  display: table;
  background-color: black;
  color: yellow;
}
#footer{
  background-color: gray;
  color: white;
  text-align: center;
  padding: 10px;
  bottom: 0;
   /*
  margin-top: 40%;
  */
}