* {
  margin: 0;
  padding: 0;
}

#logo {
  width: 100px;
  height: 50px;
  margin-left: 5px;
  margin-top: 0px;
  display: inline-block;
  border-radius: 100%;
}

#h1 {
  background-color: rgb(64, 234, 240);
  margin-top: 0;
}
#nav {
  margin-top: 0;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  padding: 10px;
  position: sticky;
}
#nav:hover{
  background-color: black;
  color: red;
}
.team-mem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

#players {
  padding: 2px;
  width: 290px;
  height: 380px;
  box-shadow: 0 0 4px 6px lightblue;
  margin-bottom: 20px;
  margin-top: 10px;
}

#playerimg {
  width: 200px;
  height: 200px;
  text-align: center;
  align-items: center;
}

img {
  width: 200px;
  height: 200px;
  text-align: center;
}


#playername{
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
#playername:hover{
  background-color: black;
  color: yellow;
}
#role,
#battingStyle,
#bowlingStyle,
#country {
  padding: 0px;
  text-align: center;
  font-weight: bold;
  
}
#display-match {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#match {
  margin-bottom: 20px;
  margin-top: 10px;
}
#name {
  background-color: black;
  color: white;
  font-weight: bold;
  display: block;
}
#status,
#venue,
#date,
#teams {
  font-weight: bold;
  display: block;
}
#teams:hover{
  color: yellow;
  background-color: black;
}
.head {
  align-items: center;
}
/*
#England {
  text-align: center;
  float: right;
  margin-right: 33%;
  width: 450px;
  height: 300px;
}*/
#England1 {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 50px;
  display: block;
}


.container{
  height: 100vh;
}

.dis-point{
  display: table;
  background-color: black;
  color: yellow;
}
table th,tr,td{
  border: 1px solid black;
}
table img{
  height: 30px;
  width: 50px;
}

#footer{
  background-color: gray;
  color: white;
  text-align: center;
  padding: 10px;
  bottom: 0;
}